  /*  MAIN STYLE SHEET
   *  FILENAME: main.css
   *
   *  Purpose: style sheet for the Astrogeology home page
   *
   *  Author:  Deborah Lee Soltesz, USGS, 10/2001
   */


    /* ----------------------------------------------------------------
     * HEADINGS */



    .programHeading
              {
               font-size: 90% ;
               font-weight: bold ;
               text-decoration: none ;
               margin-top:0px;
               margin-bottom:0px;
               color: white ;
              }

    a.programHeading, a.programHeading:visited, a.programHeading:hover
              {
                color: white ;
                text-decoration: none ;
                font-weight: bold ;
              }


    a.programHeading:active
              {
                text-decoration: underline ;
                font-weight: bolder ;
                color: yellow ;
                border: 0px solid transparent ;
                background-color: transparent ;
              }


    a#status1, a#status1:active, a#status1:hover, a#status1:visited,
    a#status2, a#status2:active, a#status2:hover, a#status2:visited,
    a#status3, a#status3:active, a#status3:hover, a#status3:visited,
    a#status4, a#status4:active, a#status4:hover, a#status4:visited,
    a#status5, a#status5:active, a#status5:hover, a#status5:visited
             {
             }

    a#status6, a#status6:active, a#status6:hover, a#status6:visited {
               color: #999 ;
               font-style: italic ;
             }

    a#status7, a#status7:active, a#status7:hover, a#status7:visited {
               color: #963 ;
               font-style: italic ;
             }


    H1       {
               font-size: 180% ;
               font-weight: bold ;
               text-decoration: none ;
               margin-top:0px;
               margin-bottom:0px;
               color:            #339999 ;
              }


     H2      {
               font-size: 120% ;
               font-weight: bold ;
               font-variant: small-caps ;
               text-decoration: none ;

               margin-top:2px;
               margin-bottom:2px;
               padding: 2px ;

               color: white ;

               background-color: #00AAAA ;
              }

     H2  a, a:hover, a:visited, a:active
              {
               color: white ;
              }

     H2.subheading
             {
               font-size:        90% ;
               font-weight:      bold ;
              /* font-style:       italic ; */
               text-decoration:  none ;
               text-transform:   uppercase ;

               font-variant:     normal ;

               margin-top:       0px;
               margin-bottom:    0px;
               padding-top:      5px ;
               padding-bottom:   0px ;

               color:            #669999 ;
               background-color: transparent ;
              }

     H3, .quickSearchBold   {
               font-size: 100% ;
               font-weight: bold ;
               font-style: italic ;
               text-decoration: none ;
               margin-top:10px;
               margin-bottom:5px;
               color: #339999 ;
              }


     H4       {
               font-size: 90% ;
               font-weight: bold ;
               text-decoration: underline ;
               margin-top:10px;
               margin-bottom:5px;

              }

     H5       {
               font-size: 80% ;
               font-weight: bold ;
               text-decoration: underline ;
               margin-top:10px;
               margin-bottom:5px;
              }

     H6       {
               font-size: 70% ;
               font-weight: bold ;
               font-variant: small-caps ;
               text-decoration: underline ;
               margin-top:10px;
               margin-bottom:5px;
              }


     BODY     {
       /** 'Arial Unicode MS', 
               font-family:  'Lucida Sans Unicode', 'Tahoma', 'Lucida Grande', 'Apple Chancery' ;
        */
               font-family: 'Arial', 'Tahoma'; 
               color: black ;
               background-color: white ;
              }

     HR       {
               color: #009999 ;
               height: 1px ;
              }

     P, ADDRESS, p.footer
              {
               margin-right: 5px ;
               margin-left: 5px ;
               margin-top: 0px ;
               margin-bottom: 10px ;
              }

     p.footer
              {
               margin-right: 0px ;
               margin-left: 0px ;
              }

     P.hang   {
               text-indent: -30px ;
               padding-left: 40px ;
              }


     a        {
                color: #336699 ;
                font-weight: bold ;
                text-decoration: none;
              }

     a:visited
              {
                color: #6655AA ;
                font-weight: bold ;
                text-decoration: none;
              }

     a:hover  {
                text-decoration: underline ;
                border: none ;
                color: #3366FF ;
              }

     a:active
              {
                color: #AA00AA ;
                font-weight: bold ;
                text-decoration: none;
              }

     acronym  {
                text-decoration: none ;
                padding: 0px;
                margin: 0px;
              }


     table caption
              {
               font-size: 100% ;
               font-weight: bold ;
               font-style: italic ;
               text-decoration: none ;
               color: #339999 ;
              }

    /* inherited from Dennis' styles */

    .group {color:teal;font-weight:bold;}
    .pstn {font-style:italic;}


     table.nomenTable {
       background-color: white;
       border-collapse: collapse;
       font-size: 80% ;
     }



    /* ----------------------------------------------------------------
     * FIGURE TABLE: table styles for figures; use with CAPTIONS     */

    table.figureTableDark td
              {
                margin: 10px ;
                padding: 5px ;
                color:#FFFFFF ;
              }

    table.figureTableDark th
              {
                margin: 10px ;
                padding: 5px ;
                color:#FFFFFF ;
                font-variant: small-caps ;
             }



    /* ----------------------------------------------------------------
     * FIGURE TABLE LIGHT: table styles for figures; use with CAPTIONS     */

    table.figureTableLight
              {
                margin:     10px ;
                border-spacing: 0px ;
                border-collapse: collapse ;
                margin-left:  auto ;
                margin-right: auto ;
              }

    table.figureTableLight td
              {
                border: 3px solid #66BBBB ;
                background-color: #DDFFFF ;
                padding: 10px;
                margin: 10px;
              }

    table.figureTableLight th
              {
                background-color: #99FFFF ;
                border: 3px solid #66BBBB ;
                padding: 10px;
                margin: 10px;
                font-variant: small-caps ;
              }



    /* ----------------------------------------------------------------
     * FIGURE TABLE OUTLINE BORDERED LIGHT: table styles for figures; use with CAPTIONS     */


    table.figureTableOutlineBorderedLight
              {
                margin:     10px ;
                border: 3px solid #66BBBB ;
                margin-left:  auto ;
                margin-right: auto ;
              }

    table.figureTableOutlineBorderedLight th
              {
                padding: 10px;
                margin: 10px;
                font-variant: small-caps ;
              }

    table.figureTableOutlineBorderedLight td
              {
                padding: 10px;
                margin: 10px;
              }


    /* ----------------------------------------------------------------
     * FIGURE TABLE THIN BORDERED WHITE: table styles for figures; use with CAPTIONS     */


    table.figureTableThinBorderedWhite
              {
                border: 2px solid #66CCCC ;
                margin-bottom: 5px;
                margin-left:  auto ;
                margin-right: auto ;
              }

    table.figureTableThinBorderedWhite td
              {
                background-color: white ;
                border: 2px solid #BBEEEE ;
                padding: 10px;
                text-align: center;
              }

    table.figureTableThinBorderedWhite th
              {
                background-color: #DDFFFF ;
                border: 2px solid #BBEEEE ;
                padding: 10px;
                font-variant: small-caps ;
                text-align: center;
             }


    /* ----------------------------------------------------------------
     * DATA TABLE THIN BORDERED WHITE: table styles for figures; use with CAPTIONS     */


    table.dataTableThinBorderedWhite
              {
                border: 2px solid #66CCCC ;
                margin: 3px;
                margin-left:  auto ;
                margin-right: auto ;
              }

    table.dataTableThinBorderedWhite td
              {
                background-color: white ;
                border: 2px solid #BBEEEE ;
                padding: 5px;
              }

    table.dataTableThinBorderedWhite td.emphasis
              {
                background-color: #DDF6F6 ;
                border: 2px solid #BBEEEE ;
                font-weight:bold ;
                font-size: 105% ;
                padding: 5px;
                margin: 10px;
              }

    table.dataTableThinBorderedWhite td.bodyTitle
              {
                font-weight:bold ;
                font-style: normal ;
                font-variant: small-caps ;
                background-color: #CCEEEE ;
                border: 2px solid #BBEEEE ;
                padding: 0px;
              }

    table.dataTableThinBorderedWhite th
              {
                background-color: #DDFFFF ;
                border: 2px solid #BBEEEE ;
                padding: 5px;
                font-variant: small-caps ;
             }


    table.dataTableThinBorderedWhite caption,
    table.dataTableThinBorderedWhite caption a
              {
                font-variant: small-caps ;
                font-size: 120%;
                text-decoration: none;
             }

    table.dataTableThinBorderedWhite td.FeatureLabel 
              {
                /** width: 25%; */
                background-color: #DDF6F6;
                font-weight: bold; 
                font-style: italic ;
                border: 2px solid #BBEEEE ;
                padding: 0px;
             }

    table.dataTableThinBorderedWhite td.SectionTitle,
    table.InnerSectionTitleTable td
              {
                background-color: #00aaaa ;
                text-align: center;
                font-weight: bold;
                padding: 5px; 
                margin: 0px;
                color: #ffffff;
             }

    table.dataTableThinBorderedWhite td.SectionSubtext 
              {
                background-color: #ffffff;
                font-size: 95%;
             }

    table.InnerSectionTitleTable td
              {
                color: #ffffff;
                font-weight: bold;
                padding: 0;
                margin: 0;
                border-style: none;
                border: 0 solid transparent;
             }
    table.InnerSectionTitleTable td.topLink
              {
                text-align: right;
             }

    table.InnerSectionTitleTable td.topLink a, 
    table.InnerSectionTitleTable td.topLink a.hover 
              {
                color: #fc0;
             }

    /* ----------------------------------------------------------------
     * MENU BUTTON: table styles for menus; use with CAPTIONS     */

    table.menuButtonTable
              {
                border-spacing: 0px ;
                border-collapse: collapse ;
                margin-bottom: 3px ;
                width: 250px ;
              }

    table.menuButtonTable td
              {
                border-width: 5px ;
                border-style : groove ;
                border-color: #99CCCC ;
                background-color: #339999 ;
                padding: 2px;
                margin: 0px ;
                color: white ;
                font-size: 90% ;
                font-variant: small-caps ;
                font-weight: bold ;
                text-align: center;
              }


    table.menuButtonTable td  a
              {
                color: white ;
                text-decoration: none ;
                font-weight: bold ;
              }

    table.menuButtonTable td  a:visited
              {
                color: white ;
                text-decoration: none ;
                font-weight: bold ;
              }


    table.menuButtonTable td  a:hover
              {
                color: white ;
                text-decoration: underline ;
                font-weight: bold ;
              }


    table.menuButtonTable td  a:active
              {
                text-decoration: none ;
                font-weight: bolder ;
                color: yellow ;
                border: 0px solid transparent ;
                background-color: transparent ;
              }




    /* ----------------------------------------------------------------
     * CAPTION TITLE: bold caption text styles */

    /* defines style for a white text caption on a dark background */
    .captionTitleOnDark,
    a.captionTitleOnDark,
    a.captionTitleOnDark:visited,
    a.captionTitleOnDark,
    a.captionTitleOnDark:visited,
    a.captionTitleOnDark:hover,
    a.captionTitleOnDark:active
              {
               font-size: 80% ;
               font-weight:bold;
               color:#FFFFFF ;
               background-color:transparent;
               border: none ;
              }

    a.captionTitleOnDark:active
              {
                color: #000000 ;
                text-decoration: none;
              }

    a.captionTitleOnDark:hover
              {
                text-decoration: underline ;
              }


    /* defines style for a yellow link text caption on a dark background */
     .captionLinkedTitleOnDark,
    a.captionLinkedTitleOnDark,
    a.captionLinkedTitleOnDark:visited,
    a.captionLinkedTitleOnDark:hover,
    a.captionLinkedTitleOnDark:active
              {
               font-size: 80% ;
               font-weight:bold;
               color:#FFFF00 ;
               background-color:transparent;
               border: none ;
              }



    /* defines style for a black text caption on a light background */
    .captionTitleOnLight
              {
               font-size: 80% ;
               font-weight:bold;
               color:#000000 ;
              }

    /* defines style for a blue linked caption on a light background */
    .captionLinkedTitleOnLight
              {
               font-size: 80% ;
               font-weight:bold;
               color:#0000FF ;
              }

     /* defines style for a text caption using page's default color */
    .captionTitleDefault
              {
               font-size: 80% ;
               font-weight:bold;
              }





    /* ----------------------------------------------------------------
     * CAPTION: caption text styles */

    /* defines style for a white text, yellow link caption on a dark background */
    .captionOnDark
              {
               font-size: 80% ;
               color:#FFFFFF ;
              }

    /* USE WITH "captionOnDark" -- defines style for a yellow link caption on a dark background */
    .captionLinkOnDark
              {
               color:#FFFF00 ;
              }

    /* defines style for a black text, blue link caption on a light background */
    .captionOnLight
              {
               font-size: 80% ;
               color:#000000 ;
              }

    /*  USE WITH "captionOnLight" -- defines style blue link caption on a light background */
    .captionLinkOnLight
              {
               color:#0000FF;
              }


    /* defines style for a text caption using page's default color */
    .captionDefault
              {
               font-size:    80% ;
               font-variant: normal ;
               font-style:   normal ;
               font-weight:  normal ;
              }
    /* defines style for a text caption using page's default color */

    a.captionDefault 
              {
               font-variant: normal ;
               font-size:    13px ;
               color: #339999;
               text-decoration: none ;
               font-style:   normal ;
               font-weight:  normal ;
              }

    /* defines style for footer text using page's default color */
    .footer
              {
               font-size: 80% ;
              }

    /* defines style for See Also: link in the top right of the page title */
    .SeeAlsoSubHeading
              {
                font-weight:bold;
                text-align:right;
              }

    /* ----------------------------------------------------------------
     * TABLE OF CONTENTS: table of contents text styles */

    /* defines style for top-of-page table-of-contents anchor links */
    .TOCanchors
              {
               font-size: 80% ;
               margin-bottom:5px ;
               margin-top:5px ;
              }

    /* defines style for link to top of page */
    .TOCtoplink
              {
               font-size: 70% ;
               font-variant: small-caps ;
               font-weight: bold ;
               margin-bottom:10px ;
               margin-top:10px ;
              }

    /* defines style for top-of-page site/project navigation links */
    .navLinks
              {
               font-size: 80% ;
               margin-bottom:12px ;
               margin-top:2px ;
              }


    /* ----------------------------------------------------------------
     * IMAGE FORMATTING: special formatting for linked images */

    .blackBorderedImage
              {
               border-color: #000000 ;
              }


    /* ----------------------------------------------------------------
     * TABLE MAP LISTING: table styles for map listings in tabular format */

      table.mapListing {
        font-size: 90%;
        border-collapse: collapse;
      }
      table.mapListing {
        width: 100%;
      }
      table.mapListing th {
        background-color: #EEEEEF;
      }

      table.mapListing th, table.mapListing td {
        border: #AABBCC solid 2px;
        padding: 5px;
      }



   /* ----------------------------
    * Misc
    */


   /* for span with title used for descriptive text (where abbr or acronym aren't applicable) */
   span.descriptive {
     text-decoration: none;
     border-bottom:   1px dotted gray ;
   }

   span.subtitle {
      font-style:      normal;
      font-size:         110%;
      text-align:      center;  
      color:          #339999;
   }




/* ---------------------------------------
   FAQ styles
   --------------------------------------- */

.questionAnswer dt:first-letter {
	font-variant: small-caps ;
	font-family: Arial, Helvetica, Geneva, sans-serif ;
	font-size: 130% ;
	font-weight: bold ;
	color: #FFFFFF ;
	padding-left: .2em ;
	padding-right: .2em ;
	background: #399 ;
}

.questionAnswer dd:first-letter {
	font-variant: small-caps ;
	font-family: Arial, Helvetica, Geneva, sans-serif ;
	font-size: 130% ;
	font-weight: bold ;
	color: #FFFFFF ;
	padding-left: .2em ;
	padding-right: .2em ;
	background: #399 ;
}

.questionAnswer dt {
        border-top: 2px solid #399 ;
	font-weight: bold ;
        margin-bottom: 0.5em ;
        background: #DFF ;
}

.questionAnswer dd {
        margin-bottom: 2em ;
        margin-left: 0px;
}


/* ---------------------------------------
   Definition list style
   --------------------------------------- */

dt {
        background: #F0F9FF ;
        border-top: 2px solid #DEF ;
	font-weight: bold ;
        margin-bottom: 0.5em ;
	font-family: Arial, Helvetica, Geneva, sans-serif ;
}

dd {
        margin-bottom: 2em ;
}



/* ================= */
/* = Lac Map Stuff = */
/* ================= */

#color_topo_lunar_lac_map, #lo_lunar_lac_map {
  border-color: #339999;
  border-width:     3px;
  border-style:   solid;
}

ul.tabs {
  list-style-type:  none;
  margin:            0px;
  padding-left:     10px;
}
ul.tabs li {
  display:           inline;
  padding-right:       10px;
  padding-left:        10px;
  padding-top:          0px;
  padding-bottom:       0px;
  margin:               0px;
  margin-left:         10px;
  background-color: #339999;
}

ul.tabs li a {
  color:        #ffffff;
}
ul.tabs li a:hover {
  color:        #000000;
  text-decoration: none;
  cursor:       pointer;
}
ul.tabs li:hover {
  cursor:       pointer;
}
ul.tabs li.background {
  background-color: #9CDFDF;
}
#color_topo_tab {
  text-align: center;
  font-weight: bold;
}
#lo_tab {
  background-color: #9CDFDF;
  font-style: italic;
}
